<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>

<body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <table class="table table-light">
                    <thead class="thead-light">
                        <tr>
                            <th>#</th>
                            <th>제목</th>
                            <th>아이디</th>
                            <th>일시</th>
                        </tr>
                    </thead>
                    <tbody class="text-dark">
                        {% for board in boards %}
                        <tr onclick="location.href='/board/detail/{{board.id}}/'">
                            <th>{{ board.id }}</th>
                            <td>{{ board.title }}</td>
                            <td>{{ board.writer }}</td>
                            <td>{{ board.registered_dttm }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <nav>
                    <ul class="pagination justify-content-center">
                        {% if boards.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?p={{ boards.previous_page_number }}">이전으로</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#">이전으로</a>
                        </li>
                        {% endif %}

                        <li class="page-item active">
                            <a class="page-link" href="#">{{ boards.number }} / {{ boards.paginator.num_pages }}</a>
                        </li>

                        {% if boards.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?p={{ boards.next_page_number }}">다음으로</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#">다음으로</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <button class="btn btn-primary" onclick="location.href='/board/write'">글쓰기</button>
            </div>
        </div>
    </div>
</body>

</html>