<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <link rel="stylesheet" href="/static/bootstrap.min.css">

</head>

<body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 text-center">
                <h1>Home Page</h1>
            </div>
        </div>
        <div class="row mt-5">
            {% if request.session.user %}
            <div class="col-12">
                <button class="btn btn-primary w-100" onclick="location.href='/bcuser/logout/'">로그아웃</button>
            </div>
            {% else %}
            <div class="col-6">
                <button class="btn btn-primary w-100" onclick="location.href='/bcuser/login/'">로그인</button>
            </div>
            <div class="col-6">
                <button class="btn btn-primary w-100" onclick="location.href='/bcuser/register/'">회원가입</button>
            </div>
            {% endif %}
            <!-- bootstrap version 3이하   <div class="row mt-2"> -->
            <div class="mt-2">
                <div class="col-12">
                    <button class="btn btn-primary w-100" onclick="location.href='/board/list/'">게시물보기</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>